<meta property="og:url" content="https://kriti.directory" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Kriti/ Directory" />
<meta
    property="og:description"
    content="No code directory builder. Import data from excel, drag and drop design your directory."
/>
<meta property="og:image" content="/images/og/og_image.png" />

<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="kriti.directory" />
<meta property="twitter:url" content="https://kriti.directory" />
<meta name="twitter:title" content="Kriti/ Directory" />
<meta
    name="twitter:description"
    content="No code directory builder. Import data from excel, drag and drop design your directory."
/>
<meta name="twitter:image" content="/assets/images/og/og_image.png" />
